:root {
    --color-1: #ffffff;
    --color-2: #ffffff;
    --color-3: #ffffff;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

}

body {
    color: blue;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.header {
    padding: 20px 30px;
    background-color: #5f61c5;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    z-index: 9999;
}

.header h1 {
    display: inline-block;
    font-size: 30px;
}

.header nav {
    float:right;
}
.header nav ul {
    list-style-type: none;;
}
.header nav ul li {
    display: inline-block;
    padding: 12px;
}
a {
    text-decoration: none;
    color:rgb(25, 248, 36);
}

header nav ul li a:hover {
    /* margin: 0 30px;*/
    font-weight: lighter; /*wtf does this even do*/
    text-shadow: 0 0 15px rgba(0, 0, 0, .75);
    color: white;
}

.background {
    height: 300px;
    width: 100%;
    background-image: url("./images/pineapple.jpg");
    /*Not showing the pineapple part like I want*/
}
.profile {
    padding-bottom: 20px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-left: 100px;
}

.aboutmepara {
    line-height: 1.5;
    font-size: 18px;
    border-left: 3px solid #5f61c5;
    padding-left: 50px;
    width: 30%;
}

.aboutme img {
    width: 65%;
    border: 3px solid #5f61c5;
    border-radius: 50%;
}

.project-examples {
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    border-left: 2px solid #343637;
    justify-content: space-around;
    padding-left: 50px;

}

.large-project {
    background-image: url("./images/Larrythelobster.png");
    background-size: cover;
    min-height: 500px;
    width: 100%;
    border: 3px solid #38A9B4;
    margin-bottom: 20px;
}

.large-project h3 {
    font-size: 40px;
    margin-top: 500px;
}

.small-project {
    border: 2px solid #2CD7E8;
    object-fit: cover;
    width: 50%;
    min-height: 200px;
    margin-bottom: 20px;
}

.small-project h3 {
    font-size: 30px;
    margin-top: 200px;
}

.profile span {
    background-color: #2CD7E8;
    border: 2px solid #38A9B4;
}

.noidea {
    background-image: url("./images/Larrythelobster.png");
    background-size: cover;
}

.lobsters {
    background-image: url("./images/Larrythelobster.png");
    background-size: cover;
}

.cats {
    background-image: url("./images/Larrythelobster.png");
    background-size: cover;
}

.run-buddy {
    background-image: url("./images/hero-bg.jpg");
    background-size: cover;
}

.contact p { 
    font-size: 14px;
    border-left: 3px solid #5f61c5;
    padding-left: 50px;
}

.contact address a {
    color: inherit; /*Because the email link was green */
}



.footer {
    position: sticky;
    bottom: 0;
    background-color: #5f61c5;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer img {
    width: 50px;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER*/
@media screen and (max-width: 980px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 575px) {

}