:root {
    --color-1: #ffffff;
    --color-2: #ffffff;
    --color-3: #ffffff;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

}

body {
    color: blue;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.header {
    padding: 20px 30px;
    background-color: #5f61c5;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    z-index: 9999;
}

.header h1 {
    display: inline-block;
    font-size: 40px;
}

.header nav {
    float:right;
}
.header nav ul {
    list-style-type: none;;
}
.header nav ul li {
    display: inline-block;
}
a {
    text-decoration: none;
    color:rgb(25, 248, 36);
}

.splash {
    height: 300px;
    width: 100%;
    background-image: url("./pineapple.jpg");
    /*Not showing the pineapple part like I want*/
}

.aboutme {
    display:flex;
    flex-wrap: wrap;
    margin: 6%;
}

.aboutmepara {
    margin: 0px 20px;
    padding: 0px 20px;
    width: 70%;
    text-align: left;
    line-height: 1.5;
    font-size: 18px;
    border-left: 3px solid #5f61c5;
}

.aboutme img {
    width: 60%;
    border: 3px solid #5f61c5;
    border-radius: 50%;
}

.work {
    display: flex;
    flex-wrap: wrap;
    margin: 6%;
}


}
.flexbox {
    display:flex;
    flex-wrap: wrap;
    border: 3px solid black;
    max-width: 1000px;
    justify-content: center;
}

.flexboxchild, .flexboxchildbig {
    border: 2px black solid;
    margin: 10px;
    padding: 10px;
}

.flexboxchildbig img {
    max-width: 840px;
    vertical-align: bottom;
}
.flexboxchild img {
    max-width: 400px;
    vertical-align: bottom;
}

.contact {
    display: flex;
    flex-wrap: wrap;
    margin: 6%;
}

.contact p {
    margin: 0px 20px;
    padding: 0px 20px;
    border-left: 3px solid #5f61c5; 
    font-size: 14px;
}

.contact address a {
    color: inherit;
}



.footer {
    position: sticky;
    bottom: 0;
    background-color: #5f61c5;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer img {
    width: 50px;
}
